
footer.footer-footer-container {
      display: inline-flex;
      width: 100%;
      justify-content: space-evenly;
      background-color: #0d314a;
      color: #67c2cb;
      height: 300px;
  }
  
  
  ul.nav-container {
      list-style: none;
  }
  
  li.footer-nav-menu-item {
      min-width: 200px;
      padding: 1rem .5rem;
      background-color: #67c2cb;
      margin: 1rem;
      color: #0d314b;
      text-align: center;
      text-transform: uppercase;
      border-radius: 4px;
  }
  
  ul.follow-us-container {
      list-style: none;
      display: inline-flex;
      width: 80%;
      justify-content: space-between;
      flex-direction: row;
      padding: 0;
      margin: 1px 0;
  }

  img.footer-footer-image-logo {
    max-width: 13rem;
}

section.footer-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 20%;
}
section.footer-section-container:nth-child(2) {

  align-items: center;
  width: 35%;
}
a.footer-telephone {
  text-decoration: none;
  color: #67c2cb;
}

span.footer-heading {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
}