@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* General Styles */
body {
  margin: 0;
  font-family: "Roboto";
}
section.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.section-container.hero-container {
  background-position: center;
  flex-direction: row;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(103, 194, 203, 0.6),
      rgba(0, 48, 73, 0.8)
    ),
    url("../../assets/hero.jpeg");
}

section.section-container.hero-container > nav {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  align-items: center;
}

section.section-container.hero-container > nav > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  width: 30%;
}
section.section-container.hero-container li {
  min-width: 35%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
}

ul.section-hero-list-of-cities {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  color: white;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.section-title-header {
  font-size: 3.75em;
  margin: 2em 0 1em 0;
  text-align: center;
}

.hero-header {
  font-size: 4em;
  margin-top: 1em;
  color: white
}

h1#section-hero-dates {
  text-align: center;
  color: white;
}
/* Forms */
section.section-container.hero-container form {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}
.section-hero-landing-page-sign-up-section {
  min-width: 400px;
  width: 30%;

  background-color: white;
  margin: 0 3em;
  padding: 3em;
  border-radius: 0.25em;
}

section.section-container.hero-container form input:not([type="submit"]),
form select {
  border: 1px solid lightgray;
  height: 35px;
  margin: 3px 0;
}

section.section-container.hero-container form select {
  width: 100%;
}

section.section-container.hero-container form label,
legend {
  color: black;
  margin-top: 10px;
}

fieldset {
  border: none;
  padding: inherit;
  margin-top: 10px;
}
textarea {
  border: 1px solid lightgray;
  resize: none;
  height: 100px;
}
.radio-group {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

form input[type="submit"], a[ href="#sign-up-today-link"] {
  border: none;
  border-radius: .2em;
  margin: 10px 0;
  padding: 20px 50px;
  background-color: #cf394e;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
a[ href="#sign-up-today-link"] {
  background-color: #67C2CB;
  text-decoration: none;
}

ul.section-hero-list-of-cities {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  color: white;
  width: auto;
  justify-content: center;
  align-items: center;
}

ul.section-hero-list-of-cities li {
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: 600;
}

section.section-container.info-container {
  min-height: 850px;
  color: #34282C;
}
.section-info-item-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}
p.section-info-paragraph{
  font-size: 1em;
}

span.section-info-item{
  padding: 3em;
  display: flex;
  margin-top: 1em;
  width: 250px;
  flex-direction: column;
  align-items: center;
}
i.fa{
  margin: .25em 0;
}
section.history-container{
  background-color: #cf394e;
  align-items: start;
  flex-direction: row;
  max-height: 700px;
}
section.history-container img{
max-height: inherit;
}

div.section-content{
  margin: 0 4em;
  color: white;
}
div.section-content p:not(:last-child){
padding-left: 2em;
}
div.section-content p:last-child{
  text-align: center;
  margin-top: 3em;
  }

  section.section-container.sponsors-container{
  max-height: 700px;
  }

section.section-container.sponsors-container ul.section-sponsors-list{
  display: inline-flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

section.section-container.sponsors-container ul.section-sponsors-list li{
  font-size: 1em;
  margin: 2em 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  }

  section.section-container.sponsors-container ul.section-sponsors-list li img{
    max-width: 40%;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 1em;
    }

    section.section-container.cta-container{
      margin: 0 10em;
      justify-content: center;
      min-height: 600px;
    }