section.section-container.hero-container {
  background-position: center;
  flex-direction: row;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(103, 194, 203, 0.6),
      rgba(0, 48, 73, 0.8)
    ),
    url(../images/hero.jpeg);
}

section.section-container.hero-container > nav {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  align-items: center;
}

section.section-container.hero-container > nav > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
  width: 30%;
}
section.section-container.hero-container li {
  min-width: 35%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
}

ul.section-hero-list-of-cities {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  color: white;
  width: 50%;
  justify-content: center;
  align-items: center;
}


.hero-header {
  font-size: 4em;
  margin-top: 1em;
  color: white
}

h1#section-hero-dates {
  text-align: center;
  color: white;
}
/* Forms */
section.section-container.hero-container form {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}
.section-hero-landing-page-sign-up-section {
  min-width: 400px;
  width: 30%;

  background-color: white;
  margin: 0 3em;
  padding: 3em;
  border-radius: 0.25em;
}

section.section-container.hero-container form input:not([type="submit"]),
form select {
  border: 1px solid lightgray;
  height: 35px;
  margin: 3px 0;
}

section.section-container.hero-container form select {
  width: 100%;
}

section.section-container.hero-container form label,
legend {
  color: black;
  margin-top: 10px;
}

fieldset {
  border: none;
  padding: inherit;
  margin-top: 10px;
}
textarea {
  border: 1px solid lightgray;
  resize: none;
  height: 100px;
}
.radio-group {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

form input[type="submit"], a[ href="#sign-up-today-link"] {
  border: none;
  border-radius: .2em;
  margin: 10px 0;
  padding: 20px 50px;
  background-color: #cf394e;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
a[ href="#sign-up-today-link"] {
  background-color: #67C2CB;
  text-decoration: none;
}

ul.section-hero-list-of-cities {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  color: white;
  width: auto;
  justify-content: center;
  align-items: center;
}

ul.section-hero-list-of-cities li {
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: 600;
}
