section.history-container{
  background-color: #cf394e;
  align-items: start;
  flex-direction: row;
  max-height: 700px;
}
section.history-container img{
max-height: inherit;
}

div.section-content{
  margin: 0 4em;
  color: white;
}

div.section-content p:not(:last-child){
  padding-left: 2em;
  }

  div.section-content p:last-child{
    text-align: center;
    margin-top: 3em;
    }
