section.section-container.sponsors-container{
  max-height: 700px;
  }

section.section-container.sponsors-container ul.section-sponsors-list{
  display: inline-flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

section.section-container.sponsors-container ul.section-sponsors-list li{
  font-size: 1em;
  margin: 2em 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  }

  section.section-container.sponsors-container ul.section-sponsors-list li img{
    max-width: 40%;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 1em;
    }
