@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* General Styles */
body {
  margin: 0;
  font-family: "Roboto";
}

section.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-header {
  font-size: 3.75em;
  margin: 2em 0 1em 0;
  text-align: center;
}